{% extends 'base.html.twig' %}

{% block title %}File info{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th class="text-center">№</th>

            <th>Название проверки</th>

            <th class="text-center">Статус</th>

            <th></th>

            <th>Текущее состояние</th>
        </tr>
        </thead>
        <tbody>

        {#Проверка наличия файла robots.txt ..........................................................................#}
            <tr>
                <td class="align-middle text-center" rowspan="2">1</td>

                <td class="align-middle" rowspan="2">Проверка наличия файла robots.txt</td>

                {% if fileexist %}
                    <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                {% else %}
                    <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                {% endif %}

                <td>Состояние</td>

                {% if fileexist %}
                    <td>Файл robots.txt присутствует</td>

                {% else %}
                    <td>Файл robots.txt отсутствует</td>
                {% endif %}
            </tr>
            <tr>
                <td>Рекомендации</td>

                {% if fileexist %}
                    <td>Доработки не требуется</td>

                {% else %}

                    <td>Программист: Создать файл robots.txt и разместить его на сайте.</td>
                {% endif %}
            </tr>

        {#Проверка указания директивы Host ...........................................................................#}
            {% if fileexist %}
                <tr>
                    <td class="align-middle text-center" rowspan="2">6</td>

                    <td class="align-middle" rowspan="2">Проверка указания директивы Host</td>

                    {% if host %}
                        <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                    {% else %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                    {% endif %}

                    <td>Состояние</td>

                    {% if host %}
                        <td>Директива Host указана</td>

                    {% else %}
                        <td>В файле robots.txt не указана директива Host</td>

                    {% endif %}
                </tr>
                <tr>
                    <td>Рекомендации</td>

                    {% if host %}
                        <td>Доработки не требуется</td>

                    {% else %}
                        <td>Программист: Для того, чтобы поисковые системы знали, какая версия сайта является основных
                            зеркалом, необходимо прописать адрес основного зеркала в директиве Host. В данный момент это
                            не прописано. Необходимо добавить в файл robots.txt директиву Host. Директива Host задётся в
                            файле 1 раз, после всех правил.</td>

                    {% endif %}
                </tr>

            {#Проверк количества директив Host прописаных в файле.....................................................#}
                <tr>
                    <td class="align-middle text-center" rowspan="2">8</td>

                    <td class="align-middle" rowspan="2">Проверк количества директив Host прописаных в файле</td>

                    {% if host > 1 %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>

                    {% elseif host %}
                        <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                    {% else %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                    {% endif %}

                    <td>Состояние</td>

                    {% if host > 1 %}
                        <td>В файле прописано несколько директив Host</td>

                    {% elseif host %}
                        <td>В файле прописана 1 директива Host</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Рекомендации</td>

                    {% if host > 1 %}
                        <td>Программист: Директива Host должна быть указана в файле толоко 1 раз. Необходимо удалить
                            все дополнительные директивы Host и оставить только 1, корректную и соответствующую основному
                            зеркалу сайта</td>

                    {% elseif host %}
                        <td>Доработки не требуются.</td>

                    {% endif %}
                </tr>

            {#Проверка размера файла robots.txt ......................................................................#}
                <tr>
                    <td class="align-middle text-center" rowspan="2">10</td>

                    <td class="align-middle" rowspan="2">Проверка размера файла robots.txt</td>

                    {% if filesize < 32 %}
                        <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                    {% else %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                    {% endif %}

                    <td>Состояние</td>

                    {% if filesize < 32 %}
                        <td>Размер файла robots.txt составляет {{ filesize }} кб, что находится в пределах допустимой нормы</td>

                    {% else %}
                        <td>Размера файла robots.txt составляет {{ filesize }} кб, что превышает допустимую норму</td>

                    {% endif %}
                </tr>
                <tr>
                    <td>Рекомендации</td>

                    {% if filesize < 32 %}
                        <td>Доработки не требуется</td>

                    {% else %}
                        <td>Программист: Максимально допустимый размер файла robots.txt составляем 32 кб. Необходимо отредактировть файл robots.txt таким образом, чтобы его размер не превышал 32 Кб</td>

                    {% endif %}
                </tr>

            {#Проверка указания директивы Sitemap ....................................................................#}
                <tr>
                    <td class="align-middle text-center" rowspan="2">11</td>

                    <td class="align-middle" rowspan="2">Проверка указания директивы Sitemap</td>

                    {% if sitemap %}
                        <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                    {% else %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                    {% endif %}

                    <td>Состояние</td>

                    {% if sitemap %}
                        <td>Директива Sitemap указана</td>
                    {% else %}
                        <td>В файле robots.txt не указана директива Sitemap</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Рекомендации</td>

                    {% if sitemap %}
                        <td>Доработки не требуется</td>
                    {% else %}
                        <td>Программист: Добавить в файл robots.txt директиву Sitemap.</td>
                    {% endif %}
                </tr>
            {% endif %}

            {#Проверка кода ответа сервера для файла robots.txt ......................................................#}
                <tr>
                    <td class="align-middle text-center" rowspan="2">1</td>

                    <td class="align-middle" rowspan="2">Проверка кода ответа сервера для файла robots.txt</td>

                    {% if fileexist %}
                        <td class="align-middle text-center bg-success" rowspan="2">OK</td>

                    {% else %}
                        <td class="align-middle text-center bg-danger" rowspan="2">Ошибка</td>
                    {% endif %}

                    <td>Состояние</td>

                    {% if fileexist %}
                        <td>Файл robots.txt отдаёт код ответа сервера {{ code }}</td>
                    {% else %}
                        <td>При обращении к файлу robots.txt сервер возвращает код ответа {{ code }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Рекомендации</td>

                    {% if fileexist %}
                        <td>Доработки не требуется</td>

                    {% else %}
                        <td>Программист: Файл robots.txt должны отдавать код ответа 200, иначе файл не будет
                            обрабатываться. Необходимо настроить сайт таким образом, чтобы при обращении к файлу
                            robots.txt сервер возвращает код ответа 200 .</td>

                    {% endif %}
                </tr>
        </tbody>
    </table>

    <? 
    $dermo = 'sdasda';
    echo $dermo;
    ?>

    <form method="post" action="{{ path('save') }}">
        <input type="hidden" name="output" value="output">
        <input type="button" value="Save to file" class="btn btn-outline-primary">
    </form>

{% endblock %}